################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/atlantis-schluesseltabelle-anpassen/obj/Debug
